.container{
    display: absolute;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 90vh;
    color: black;
}


.centrar{
    text-align: center;
}

label{
    color: black;
}
